{% set main_data = page_data or {} %}

{% include "partials/pages/main/sections/chat-column.njk" %}
{% include "partials/pages/main/sections/center-column.njk" %}
{% include "partials/pages/main/sections/right-column.njk" %}
