{% set specific_data = page_data or {} %}
<div class="column col-center specific-main specific-main-frame">
  <!-- ===================== Specific Header ===================== -->
  {% include "partials/pages/specific/sections/header.njk" %}

  <!-- ===================== Request & My History ===================== -->
  {% include "partials/pages/specific/sections/request-and-my-history.njk" %}

  <!-- ===================== Admin & Process History ===================== -->
  {% include "partials/pages/specific/sections/admin-and-history.njk" %}
</div>
