{% set chat_data = page_data or {} %}

<!-- ===================== Chat Column ===================== -->
<section>
  {% include "partials/pages/chat/sections/chat-column.njk" %}
</section>

<!-- ===================== Center Column ===================== -->
<section>
  {% include "partials/pages/chat/sections/center-column.njk" %}
</section>

<!-- ===================== Side Panel ===================== -->
<section>
  {% include "partials/pages/chat/sections/right-column.njk" %}
</section>
