<div id="sidebar" class="column col-sidebar">
  <div class="mb-6">
    <div class="sidebar-logo">S</div>
  </div>
  <div data-page="main.html" title="Main" class="nav-item{% if active_page == 'main.html' %} active{% endif %}"><i class="fa-solid fa-headset"></i></div>
  <div data-page="chat.html" title="Chat" class="nav-item{% if active_page == 'chat.html' %} active{% endif %}"><i class="fa-solid fa-comments"></i></div>
  <div data-page="pds.html" title="PDS" class="nav-item{% if active_page == 'pds.html' %} active{% endif %}"><i class="fa-solid fa-phone-volume"></i></div>
  <div data-page="sms.html" title="SMS" class="nav-item{% if active_page == 'sms.html' %} active{% endif %}"><i class="fa-solid fa-comment-sms"></i></div>
  <div data-page="callback.html" title="Callback" class="nav-item{% if active_page == 'callback.html' %} active{% endif %}"><i class="fa-solid fa-phone"></i></div>
  <div title="Settings" class="nav-item mt-auto mb-4"><i class="fa-solid fa-gear"></i></div>
</div>
