<!-- ===================== PDS Column ===================== -->
{% include "partials/pages/pds/sections/left-column.njk" %}

<!-- ===================== Center Column ===================== -->
{% include "partials/pages/pds/sections/center-column.njk" %}

<!-- ===================== Side Panel ===================== -->
{% include "partials/pages/pds/sections/right-column.njk" %}
