{% extends "layouts/app-shell.njk" %}
{% set title = "SMS 발송" %}
{% set page_css = "callback.css" %}
{% set active_page = "callback" %}

{% block app_content %}
  {% include "partials/pages/callback/content.njk" %}
{% endblock %}

{% block scripts %}
  <script src="{{ asset('javascript/common/api.js') }}"></script>
  <script src="{{ asset('javascript/callback-config.js') }}"></script>
  <script src="{{ asset('javascript/common/ui.js') }}"></script>
  <script src="{{ asset('javascript/callback.js') }}"></script>
{% endblock %}
