{% extends "layouts/app-shell.njk" %}
{% set title = "CTI Agent Dashboard" %}
{% set page_css = "main.css" %}
{% set active_page = "main.html" %}

{% block app_content %}
  {% include "partials/pages/main/content.njk" %}
{% endblock %}

{% block scripts %}
  <script src="javascript/common/ui.js"></script>
  <script src="javascript/common/api.js"></script>
  <script src="javascript/main/config.js"></script>
  <script src="javascript/main/data.js"></script>
  <script src="javascript/main/customer-info.js"></script>
  <script src="javascript/main/tabs.js"></script>
  <script src="javascript/main/history.js"></script>
  <script src="javascript/main/actions.js"></script>
  <script src="javascript/main.js"></script>
{% endblock %}
