{% extends "layouts/app-shell.njk" %}
{% set title = "PDS 자동다이얼링" %}
{% set page_css = "pds.css" %}
{% set active_page = "pds" %}

{% block app_content %}
  {% include "partials/pages/pds/content.njk" %}
{% endblock %}

{% block scripts %}
  <script src="{{ asset('javascript/common/api.js') }}"></script>
  <script src="{{ asset('javascript/pds-config.js') }}"></script>
  <script src="{{ asset('javascript/common/ui.js') }}"></script>
  <script src="{{ asset('javascript/pds.js') }}"></script>
{% endblock %}
