{% extends "layouts/app-shell.njk" %}
{% set title = "SMS 발송" %}
{% set page_css = "sms.css" %}
{% set active_page = "sms" %}

{% block app_content %}
  {% include "partials/pages/sms/content.njk" %}
{% endblock %}

{% block scripts %}
  <script src="{{ asset('javascript/common/api.js') }}"></script>
  <script src="{{ asset('javascript/sms-config.js') }}"></script>
  <script src="{{ asset('javascript/common/ui.js') }}"></script>
  <script src="{{ asset('javascript/sms.js') }}"></script>
{% endblock %}
