{% extends "layouts/app-shell.njk" %}
{% set title = "특이사항 등록/승인" %}
{% set page_css = "specific.css" %}
{% set active_page = "specific" %}

{% block app_content %}
  {% include "partials/pages/specific/content.njk" %}
{% endblock %}

{% block scripts %}
  <script src="javascript/common/api.js"></script>
  <script src="javascript/common/ui.js"></script>
  <script src="javascript/specific.js"></script>
{% endblock %}
