{% set callback_data = page_data or {} %}

<!-- ===================== Callback Column ===================== -->
{% include "partials/pages/callback/sections/left-column.njk" %}

<!-- ===================== Center Column ===================== -->
{% include "partials/pages/callback/sections/center-column.njk" %}

<!-- ===================== Side Panel ===================== -->
{% include "partials/pages/callback/sections/right-column.njk" %}

<!-- ===================== Outbound Modal ===================== -->
{% include "partials/pages/callback/sections/modal.njk" %}
