<div class="login-footer">
  <div class="footer-links">
    <a href="#">비밀번호 찾기</a>
    <span class="login-separator">|</span>
    <a href="#">시스템 문의</a>
  </div>
  <div class="footer-info">
    <p>© 2024 Shinhan Investment Corp. All rights reserved.</p>
  </div>
</div>
